In [11]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
raw_train = pd.read_csv("train.csv")
raw_test = pd.read_csv("test.csv")

In [12]:
data = pd.read_csv("non vectored.csv")
data = data.iloc[:,1:]
data.head()

   Survived  Pclass  Name     Sex   Age  SibSp  Parch     Fare Embarked
0       0.0       3    Mr    male  22.0      1      0   7.2500        S
1       1.0       1   Mrs  female  38.0      1      0  71.2833        C
2       1.0       3  Miss  female  26.0      0      0   7.9250        S
3       1.0       1   Mrs  female  35.0      1      0  53.1000        S
4       0.0       3    Mr    male  35.0      0      0   8.0500        S

In [13]:
data.Name = data.Name.map({"Mr":"1","Mrs":"2","Miss":"3","Master":"4"})
data.Name.fillna("5", inplace=True)
data.Name.value_counts()

1    666
3    245
2    195
4     60
5     34
Name: Name, dtype: int64

In [14]:
data.Sex = data.Sex.map({"male":"0","female":"1"})
data.Embarked = data.Embarked.map({"C":"0","Q":"2","S":"3"})
data.isna().sum()

Survived    418
Pclass        0
Name          0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [15]:
def ageHash(age):
    res=-1
    if age<20:
        res=0
    if age>=20 and age<28:
        res=1
    if age>=28 and age<40:
        res=2
    if age>=40:
        res=3
    return res

In [16]:
def fareHash(fare):
    res=-1
    if fare<10:
        res=0
    if fare>=10 and fare<30:
        res=1
    if fare>=30 and fare<100:
        res=2
    if fare>=100:
        res=3
    return res

In [17]:
data.Age = data.Age.apply(lambda x:ageHash(x))
data.Age.value_counts()

2    472
1    267
3    242
0    219
Name: Age, dtype: int64

In [18]:
data.Fare = data.Fare.apply(lambda x:fareHash(x))
data.Fare.value_counts()

1    443
0    414
2    259
3     84
Name: Fare, dtype: int64

In [19]:
data.to_csv("vectored_data.csv")
data.head()

   Survived  Pclass Name Sex  Age  SibSp  Parch  Fare Embarked
0       0.0       3    1   0    1      1      0     0        3
1       1.0       1    2   1    2      1      0     2        0
2       1.0       3    3   1    1      0      0     0        3
3       1.0       1    2   1    2      1      0     2        3
4       0.0       3    1   0    2      0      0     0        3

In [20]:
train=data.iloc[:782,]
test=data.iloc[782:,1:]

In [21]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
x = train.drop(columns='Survived')
y = train.Survived
xtrain,xval,ytrain,yval=train_test_split(x, y, test_size=0.2, random_state=200, shuffle=True)

clf = GaussianNB()
clf.fit(xtrain, ytrain)
train_score=cross_val_score(clf, xtrain, ytrain, scoring='accuracy', cv=10).mean()
val_score = cross_val_score(clf, xval, yval, scoring='accuracy', cv=10).mean()

print('train score:',train_score,'validation score:',val_score)

train score: 0.7745519713261648 validation score: 0.7708333333333334